body {
    margin: 0;
    padding: 0;
    background-color: #f2f6fa;
    font-family: Arial, sans-serif;
    height: 55vw;
    background-image: url(for\ studentform.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.manu {
    width: 241px;
    border-radius: 12px;
    background-color: rgba(250, 227, 227, 0.486);
    margin: 11px;
}

.bt {
    background-color: white;
    border: 3px solid rgb(255, 0, 0);
    padding: 7px 16px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

.bt:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
}

.sh {
    color: rgba(73, 72, 72, 0.863);
}

.continer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.342);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 61px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
    right: 35vw;
    top: 2vw;
}

h1 {
    position: absolute;
    top: 1%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 71px;
    color: rgb(255, 214, 214);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
select,
textarea {
    margin-bottom: 15px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

textarea {
    resize: none;
    height: 60px;
}



input[type="button"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 4px 14px rgba(0, 123, 255, 0.25);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

input[type="submit"]:active {
    background-color: #0041a8;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}